* {

}

body {
    text-align: center;
    margin: 0 auto;
}
h1{
    font-size: 2em;
    font-weight: 900;
}

.start{

}
.question-block {
    width: 960px;
    text-align: left;
}

.question{
margin: 10px auto;
}

.ul {
    list-style: none;
}

.done {
    display: none;
}
.results {
    display: none;
}

.reset {
    display: none;
}